@each $c,$v in $colors{
	.text-#{$c}{
		color:$v;
	}
}

.text-null-1x{
	display:inline-block;
	width:14px;
}
.text-null-2x{
	display:inline-block;
	width:28px;
}
.text-null-3x{
	display:inline-block;
	width:14px;
}