$avatar-size : (xs 25px 12px) (sm 30px 12px) (md 35px 14px) (lg 40px 16px) (xl 50px 16px);

.sunset-avatar{
	display:inline-block;
	text-align: center;
	height:65px;
	font-size:12px;
	padding-top:10px;
	cursor: pointer;
	img{
		display: block;
		margin:5px auto;
		width:30px;
		height:30px;
	}
	&.circle{
		img{
			border-radius: 500px;
		}
	}
	&.crosswise{
		line-height:65px;
		img{
			display: inline-block;
		}
		span{
			display: inline-block;
			vertical-align: top;
			margin-left:10px;
		}
	}

	@each $size in $avatar-size{
		$name : nth($size,1);
		$wh : nth($size,2);
		$fontSize : nth($size,3);

		&.#{$name}{
			img{
				width:$wh;
				height:$wh;
			}
			font-size: $fontSize;
		}
	}
}