.sunset-widget-editor{
	width:100%;
	border:1px solid $primary;
	padding :5px;
	outline : none;
	border-radius:2px;
	min-height:100px;
	@include animate();
	&:focus{
		box-shadow: 1px 1px 5px lighten($primary,20%);
	}
	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}