.sunset-widget-modal{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:10000;
	.sunset-widget-modal-shim{
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index: 0;
	}
	.sunset-widget-modal-wrap{
		position:absolute;
		top:10%;
		width:80%;
		max-height: 80%;
		left:10%;
		z-index: 1;
		overflow: auto;
		background:$white;
		-webkit-overflow-scrolling: touch;
		box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
		border-radius: 2px;
		&>header{
			color:$dark;
			padding:10px 10px 10px 20px;
			border-bottom:1px solid $light;
			text-align: left;
			background:$primary;
			color:$white;
			.close{
				display: inline-block;
				float: right;
				border-radius:50px;
				width:25px;
				height:25px;
				border:2px solid $white;
				margin-top:-4px;
				text-align: center;
				line-height: 25px;
				font-size: 18px;
				cursor: pointer;
				&:hover{
					background:$white;
					color:$primary;
				}
			}
		}
	}
}

.modalanimate-transition{
	visibility: visible;
	@include animate();
	.sunset-widget-modal-shim{
		background:rgba($dark,0.8);
		@include animate();
	}
	.sunset-widget-modal-wrap{
		opacity: 1;
		transform: translate(0,0px);
		@include animate();
	}
}

.modalanimate-enter,.modalanimate-leave{
	visibility: hidden;
	.sunset-widget-modal-shim{
		background:rgba($dark,0);
	}
	.sunset-widget-modal-wrap{
		transform: translate(0,-50px);
		opacity: 0;
	}
}