.sunset-page{
	position:relative;
	.sunset-page-nav{
		font-size: 0px;
		span{
			display: inline-block;
			min-width:35px;
			padding: 0px 5px;
			height:30px;
			line-height: 30px;
			text-align: center;
			background:$white;
			border:1px solid $primary;
			color:$dark;
			vertical-align: middle;
			font-size: 12px;
			margin: 0px 3px;
			&.active{
				background:$primary;
				color:$white;
			}
			&.disabled{
				visibility: hidden;
			}
		}
	}
	.loading{
		position:absolute;
		width:100%;
		padding:20px;
		background:rgba($dark,0.3);
	}
	.nodata{
		padding:20px;
	}
}
