.sunset-tip{
	position:fixed;
	top:10px;
	max-width:180px;
	left:50%;
	z-index:9999;
	padding:10px 15px;
	color:$white;
	border-radius:3px;
	background:rgba($primary,0.9);
	transform:translate(-50%,0%);
	i{
		width:20px;
		height:20px;
		color:$primary;
		font-size: 14px;
		text-align: center;
		line-height: 20px;
		border-radius:50px;
		background:$white;
	}

	@each $c,$v in $colors{
		&.#{$c}{
			background:rgba($v,0.9);
			i{
				color : $v;
			}
		}
	}
}

.sunsettip-transition{
	@include animate(all,0.4s,ease);
	transform:translate(-50%,0px);
}
.sunsettip-enter{
	transform:translate(-50%,-100px);
}
.sunsettip-leave{
	transform:translate(-50%,-100px);
}